img {
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: lightgrey;
}

nav {
    margin-bottom: 40px;
}

.navbar-button {
    font-size: 25px;
}

.box {
    background-color: white;
}