/* navbar */
nav {
    margin-bottom: 40px;
}

.navbar {
    background-color: darkslategrey;
}

/* main body text */
h1, h2, h3, .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: darkslategrey;
}

@media (max-width: 800px) {
    h1 {
        font-size: 37px;
    }

    p {
        margin-bottom: 30px;
    }
}

/* main body formatting */
html, body {
    background-color: whitesmoke;
}

.container {
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    border: darkslategrey 5px solid;
    z-index: 1;
}

/* images */
img {
    max-width: 100%;
}

.currentimg {
    border: grey 2px solid;
}
